.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.6s;
  opacity: 0;
  visibility: hidden;
}
.popup__content {
  width: 100%;
  max-width: 430px;
  background-color: #fff;
  padding-right: 36px;
  padding-left: 36px;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  position: relative;
  margin: 0;
}
.popup__title {
  padding-top: 34px;
  margin: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}
.popup_opened {
  opacity: 1;
  visibility: visible;
}
.popup__form {
  margin-top: 54px;
  margin-bottom: 37px;
}
.popup__input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #000000;
  padding: 0px 0px 13.26px 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.popup__label {
  display: block;
}
.popup__label:last-of-type {
  margin-top: 29.74px;
}
.popup__button {
  width: 100%;
  margin-top: 48px;
  height: 50.15px;
  padding: 0;
  background: #000000;
  border-radius: 2px;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}
.popup__close {
  background-image: url(../images/CloseIcon.png);
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  position: absolute;
  top: -35px;
  right: -40px;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
}
@media screen and (max-width: 595px) {
  .popup__content {
    width: 100%;
    max-width: 282px;
    padding-right: 22px;
    padding-left: 22px;
  }
  .popup__title {
    padding-top: 25px;
    font-size: 18px;
    line-height: 22px;
  }
  .popup__form {
    margin-top: 76px;
    margin-bottom: 25px;
  }
  .popup__input {
    padding: 0px 0px 9px 0px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
  .popup__button {
    margin-top: 46px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
  .popup__close {
    background-image: url(../images/CloseIcon325.svg);
    height: 26px;
    width: 26px;
    position: absolute;
    top: -45px;
    right: 0px;
    padding: 0;
  }
}
