/*.form {
}
.form__fieldset {
}
.form__input {
}
.form__button {
}*/
.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.6s;
  opacity: 0;
  visibility: hidden;
}
.popup__content {
  width: 100%;
  max-width: 430px;
  height: 330px;
  background-color: #fff;
  padding: 36px;
  border-radius: 18px;
  position: relative;
}
.popup_opened {
  opacity: 1;
  visibility: visible;
}
.popup__input {
  width: 100%;
}
.popup__label {
  margin-top: 15px;
  display: block;
}
.popup__button {
  width: 100%;
  margin-top: 30px;
}
.popup__close {
  position: absolute;
  top: -25px;
  right: -60px;
}
