.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 47.25px;
}
.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 30px;
}
.profile__description {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 0;
}
.profile__description-title {
  display: flex;
  align-items: center;
}
.profile__title {
  max-width: 400px;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.profile__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-top: 16px;
  margin-bottom: 24.75px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 240px;
}
.profile__button {
  width: 150px;
  height: 50px;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0);
  border: #fff 2px solid;
  color: #fff;
  padding: 0;
  font-size: 44px;
  font-weight: 100;
  line-height: 0px;
  border-radius: 2px;
}
.profile__button:hover {
  opacity: 0.6;
  border: 2px solid #ffffff;
}
.profile__edit {
  width: 24px;
  height: 24px;
  margin-left: 18px;
  background-image: url(../images/EditButtonMain.svg);
  background-color: rgba(0, 0, 0, 0);
  border: none;
  min-width: 24px;
}
.profile__edit:hover {
  opacity: 0.6;
  border: 2px solid #ffffff;
  border: none;
}
@media screen and (max-width: 900px) {
  .profile__title {
    text-align: center;
    white-space: nowrap;
  }
  .profile {
    margin: 0 auto;
  }
  .profile__edit {
    background-image: url(../images/Edit-Button.svg);
    width: 18px;
    height: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    min-width: 18px;
  }
  .profile__subtitle {
    text-align: center;
    max-width: 600px;
  }
  .profile__button {
    margin-left: 10px;
  }
}
@media screen and (max-width: 595px) {
  .profile {
    flex-direction: column;
    padding: 0;
    margin: 42px 19px 36px 19px;
  }
  .profile__subtitle {
    font-size: 14px;
    line-height: 17px;
    margin-top: 14px;
    margin-bottom: 36px;
    max-width: 250px;
  }
  .profile__button {
    width: 100%; /* the button will occupy all avalible space*/
    margin: 0;
  }
  .profile__vector {
    width: 16px;
    height: 16px;
  }
  .profile__title {
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    padding: 0;
    max-width: 250px;
  }
  .profile__description-title {
    padding-top: 26.25px;
  }
  .profile__description {
    align-items: center;
    text-align: center;
  }
  .profile__edit {
    margin-left: 10px;
    background-image: url(../images/Edit-Button.svg);
    min-width: 18px;
  }
  .profile__avatar {
    margin-right: 0;
  }
}
